In [1]:
import requests
import pandas as pd
import datetime
import dateutil
import re
from bokeh.models import Range1d

from bokeh.plotting import figure, show
from bokeh.io import output_notebook
from bokeh.embed import components

In [2]:
tickersymbol = 'AAPL'
url = 'https://www.quandl.com/api/v3/datasets/WIKI/' + tickersymbol + '.json'
r = requests.get(url)

In [3]:
request_df = pd.DataFrame(r.json())
request_df

                                                                 dataset
collapse                                                            None
column_index                                                        None
column_names           [Date, Open, High, Low, Close, Volume, Ex-Divi...
data                   [[2017-08-21, 157.5, 157.89, 155.1101, 157.21,...
database_code                                                       WIKI
database_id                                                         4922
dataset_code                                                        AAPL
description            End of day open, high, low, close and volume, ...
end_date                                                      2017-08-21
frequency                                                          daily
id                                                               9775409
limit                                                               None
name                   Apple Inc (AAPL) Prices, Dividends, Splits and...
newest_available_date                                         2017-08-21
oldest_available_date                                         1980-12-12
order                                                               None
premium                                                            False
refreshed_at                                    2017-08-21T21:49:42.833Z
start_date                                                    1980-12-12
transform                                                           None
type                                                         Time Series

In [4]:
df = request_df['dataset'].apply(pd.Series) 
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,9241,9242,9243,9244,9245,9246,9247,9248,9249,9250
collapse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column_index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
data,"[2017-08-21, 157.5, 157.89, 155.1101, 157.21, ...","[2017-08-18, 157.86, 159.5, 156.72, 157.5, 270...","[2017-08-17, 160.52, 160.71, 157.84, 157.87, 2...","[2017-08-16, 161.94, 162.51, 160.15, 160.95, 2...","[2017-08-15, 160.66, 162.195, 160.14, 161.6, 2...","[2017-08-14, 159.32, 160.21, 158.75, 159.85, 2...","[2017-08-11, 156.6, 158.5728, 156.07, 157.48, ...","[2017-08-10, 159.9, 160.0, 154.63, 155.27, 390...","[2017-08-09, 159.26, 161.27, 159.11, 161.06, 2...","[2017-08-08, 158.6, 161.83, 158.27, 160.08, 35...",...,"[1980-12-26, 35.5, 35.62, 35.5, 35.5, 248100.0...","[1980-12-24, 32.5, 32.63, 32.5, 32.5, 214300.0...","[1980-12-23, 30.88, 31.0, 30.88, 30.88, 209600...","[1980-12-22, 29.63, 29.75, 29.63, 29.63, 16680...","[1980-12-19, 28.25, 28.38, 28.25, 28.25, 21710...","[1980-12-18, 26.63, 26.75, 26.63, 26.63, 32790...","[1980-12-17, 25.87, 26.0, 25.87, 25.87, 385900...","[1980-12-16, 25.37, 25.37, 25.25, 25.25, 47200...","[1980-12-15, 27.38, 27.38, 27.25, 27.25, 78520...","[1980-12-12, 28.75, 28.87, 28.75, 28.75, 20939..."
database_code,WIKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = df.ix['data',:].apply(pd.Series) 
data.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [6]:
data.columns = df.ix['column_names',0:12]
data.head(5)

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [7]:
data['Date'] = pd.to_datetime(data['Date'])
data.dtypes
data.head(5)

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.890,155.1101,157.21,26145653.0,0.0,1.0,157.50,157.890,155.1101,157.21,26145653.0
1,2017-08-18,157.86,159.500,156.7200,157.50,27012525.0,0.0,1.0,157.86,159.500,156.7200,157.50,27012525.0
2,2017-08-17,160.52,160.710,157.8400,157.87,26925694.0,0.0,1.0,160.52,160.710,157.8400,157.87,26925694.0
3,2017-08-16,161.94,162.510,160.1500,160.95,27321761.0,0.0,1.0,161.94,162.510,160.1500,160.95,27321761.0
4,2017-08-15,160.66,162.195,160.1400,161.60,27936774.0,0.0,1.0,160.66,162.195,160.1400,161.60,27936774.0

In [8]:
output_notebook()

In [9]:

today = datetime.date.today()
today

datetime.date(2017, 8, 21)

In [10]:
lastmonth = today - dateutil.relativedelta.relativedelta(months=1)
lastmonth

datetime.date(2017, 7, 21)

In [11]:
b = data['Date']>lastmonth
b.head(25)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24    False
Name: Date, dtype: bool

In [12]:
data_lastmonth = data[b]
data_lastmonth

column_names,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-08-21,157.50,157.8900,155.1101,157.21,26145653.0,0.00,1.0,157.500000,157.890000,155.110100,157.210000,26145653.0
1,2017-08-18,157.86,159.5000,156.7200,157.50,27012525.0,0.00,1.0,157.860000,159.500000,156.720000,157.500000,27012525.0
2,2017-08-17,160.52,160.7100,157.8400,157.87,26925694.0,0.00,1.0,160.520000,160.710000,157.840000,157.870000,26925694.0
3,2017-08-16,161.94,162.5100,160.1500,160.95,27321761.0,0.00,1.0,161.940000,162.510000,160.150000,160.950000,27321761.0
4,2017-08-15,160.66,162.1950,160.1400,161.60,27936774.0,0.00,1.0,160.660000,162.195000,160.140000,161.600000,27936774.0
5,2017-08-14,159.32,160.2100,158.7500,159.85,21754810.0,0.00,1.0,159.320000,160.210000,158.750000,159.850000,21754810.0
6,2017-08-11,156.60,158.5728,156.0700,157.48,25943187.0,0.00,1.0,156.600000,158.572800,156.070000,157.480000,25943187.0
7,2017-08-10,159.90,160.0000,154.6300,155.27,39081017.0,0.63,1.0,159.900000,160.000000,154.630000,155.270000,39081017.0
8,2017-08-09,159.26,161.2700,159.1100,161.06,25640394.0,0.00,1.0,158.616422,160.618300,158.467028,160.409148,25640394.0
9,2017-08-08,158.60,161.8300,158.2700,160.08,35775675.0,0.00,1.0,157.959089,161.176037,157.630423,159.433108,35775675.0
10,2017-08-04,156.07,157.4000,155.6900,156.39,20349532.0,0.00,1.0,155.439313,156.763938,155.060849,155.758020,20349532.0
11,2017-08-03,157.05,157.2100,155.0200,155.57,26000738.0,0.00,1.0,156.415353,156.574706,154.393556,154.941334,26000738.0
12,2017-08-02,159.28,159.7500,156.1600,157.14,69222793.0,0.00,1.0,158.636341,159.104442,155.528949,156.504989,69222793.0
13,2017-08-01,149.10,150.2200,148.4100,150.05,24725526.0,0.00,1.0,148.497479,149.612953,147.810267,149.443640,24725526.0
14,2017-07-31,149.90,150.3300,148.1300,148.85,19422655.0,0.00,1.0,149.294246,149.722509,147.531399,148.248489,19422655.0
15,2017-07-28,149.89,150.2300,149.1900,149.50,16832947.0,0.00,1.0,149.284287,149.622913,148.587115,148.895863,16832947.0
16,2017-07-27,153.75,153.9900,147.3000,150.56,32175875.0,0.00,1.0,153.128688,153.367718,146.704753,149.951579,32175875.0
17,2017-07-26,153.35,153.9300,153.0600,153.46,15172136.0,0.00,1.0,152.730305,153.307961,152.441477,152.839860,15172136.0
18,2017-07-25,151.80,153.8400,151.8000,152.74,18612649.0,0.00,1.0,151.186568,153.218325,151.186568,152.122770,18612649.0
19,2017-07-24,150.58,152.4400,149.9000,152.09,21122730.0,0.00,1.0,149.971498,151.823982,149.294246,151.475396,21122730.0

In [15]:
p = figure(title=tickersymbol,plot_width=600,plot_height=400,x_axis_type="datetime",x_range=Range1d(lastmonth, today))
p.line(data_lastmonth['Date'],data_lastmonth['Open'])
p.line(data_lastmonth['Date'],data_lastmonth['Open'],line_color='blue',legend='Opening price')
p.xgrid.minor_grid_line_color = 'navy'

In [16]:
show(p)

In [19]:
script, div = components(p)

In [5]:
import numpy as np
req = 'https://www.quandl.com/api/v3/datasets/WIKI/'
req = '%s%s.json?&collapse=weekly' % (req,"AAPL")
req = '%s&start_date=%s-01-01' % (req,2016)
r = requests.get(req)

# transfer json data to date frame
cols = r.json()['dataset']['column_names'][0:5]
df = pd.DataFrame(np.array(r.json()['dataset']['data'])[:,0:5],columns=cols)
df.Date = pd.to_datetime(df.Date)
df[['Open','High','Low','Close']] = df[['Open','High','Low','Close']].astype(float)

In [6]:
df.head(5)

        Date    Open      High     Low   Close
0 2017-08-27  160.43  160.7400  158.55  159.27
1 2017-08-20  157.86  159.5000  156.72  157.50
2 2017-08-13  156.60  158.5728  156.07  157.48
3 2017-08-06  156.07  157.4000  155.69  156.39
4 2017-07-30  149.89  150.2300  149.19  149.50

In [11]:
df.to_csv(index=False,sep='\t')

'Date\tOpen\tHigh\tLow\tClose\n2017-08-27\t160.43\t160.74\t158.55\t159.27\n2017-08-20\t157.86\t159.5\t156.72\t157.5\n2017-08-13\t156.6\t158.5728\t156.07\t157.48\n2017-08-06\t156.07\t157.4\t155.69\t156.39\n2017-07-30\t149.89\t150.23\t149.19\t149.5\n2017-07-23\t149.99\t150.44\t148.88\t150.27\n2017-07-16\t147.97\t149.33\t147.33\t149.04\n2017-07-09\t142.9\t144.75\t142.9\t144.18\n2017-07-02\t144.45\t144.96\t143.78\t144.02\n2017-06-25\t145.13\t147.16\t145.11\t146.35\n2017-06-18\t143.78\t144.5\t142.2\t142.27\n2017-06-11\t155.19\t155.19\t146.02\t148.98\n2017-06-04\t153.58\t155.45\t152.89\t155.45\n2017-05-28\t154.0\t154.24\t153.31\t153.61\n2017-05-21\t153.38\t153.98\t152.63\t152.96\n2017-05-14\t154.7\t156.42\t154.67\t156.1\n2017-05-07\t146.76\t148.98\t146.76\t148.96\n2017-04-30\t144.09\t144.3\t143.27\t143.65\n2017-04-23\t142.44\t142.68\t141.85\t142.27\n2017-04-16\t141.91\t142.38\t141.05\t141.05\n2017-04-09\t143.73\t144.18\t143.27\t143.34\n2017-04-02\t143.72\t144.27\t143.01\t143.66\n2017-03-26\t141.5\t141.74\t140.35\t140.64\n2017-03-19\t141.0\t141.0\t139.89\t139.99\n2017-03-12\t139.25\t139.3571\t138.64\t139.14\n2017-03-05\t138.78\t139.83\t138.59\t139.78\n2017-02-26\t135.91\t136.66\t135.28\t136.66\n2017-02-19\t135.1\t135.83\t135.1\t135.72\n2017-02-12\t132.46\t132.94\t132.05\t132.12\n2017-02-05\t128.31\t129.19\t128.16\t129.08\n2017-01-29\t122.14\t122.35\t121.6\t121.95\n2017-01-22\t120.45\t120.45\t119.7346\t120.0\n2017-01-15\t119.11\t119.62\t118.81\t119.04\n2017-01-08\t116.78\t118.16\t116.47\t117.91\n2017-01-01\t116.65\t117.2\t115.43\t115.82\n2016-12-25\t115.59\t116.52\t115.59\t116.52\n2016-12-18\t116.47\t116.5\t115.645\t115.97\n2016-12-11\t112.31\t114.7\t112.31\t113.95\n2016-12-04\t109.17\t110.09\t108.85\t109.9\n2016-11-27\t111.13\t111.87\t110.95\t111.79\n2016-11-20\t109.72\t110.54\t109.66\t110.06\n2016-11-13\t106.92\t108.87\t106.55\t108.43\n2016-11-06\t108.53\t110.25\t108.11\t108.84\n2016-10-30\t113.87\t115.21\t113.45\t113.72\n2016-10-23\t116.81\t116.91\t116.28\t116.6\n2016-10-16\t117.88\t118.17\t117.13\t117.63\n2016-10-09\t114.31\t114.56\t113.51\t114.06\n2016-10-02\t112.46\t113.37\t111.8\t113.05\n2016-09-25\t114.42\t114.79\t111.55\t112.71\n2016-09-18\t115.12\t116.13\t114.04\t114.92\n2016-09-11\t104.64\t105.72\t103.13\t103.13\n2016-09-04\t107.7\t108.0\t106.82\t107.73\n2016-08-28\t107.41\t107.95\t106.31\t106.94\n2016-08-21\t108.77\t109.69\t108.36\t109.36\n2016-08-14\t107.78\t108.44\t107.78\t108.18\n2016-08-07\t106.27\t107.65\t106.18\t107.48\n2016-07-31\t104.19\t104.55\t103.68\t104.21\n2016-07-24\t99.26\t99.3\t98.31\t98.66\n2016-07-17\t98.92\t99.3\t98.5\t98.78\n2016-07-10\t96.49\t96.89\t96.05\t96.68\n2016-07-03\t95.49\t96.465\t95.33\t95.89\n2016-06-26\t92.91\t94.655\t92.65\t93.4\n2016-06-19\t96.62\t96.65\t95.3\t95.33\n2016-06-12\t98.53\t99.3457\t98.48\t98.83\n2016-06-05\t97.79\t98.27\t97.45\t97.92\n2016-05-29\t99.44\t100.47\t99.245\t100.35\n2016-05-22\t94.64\t95.43\t94.52\t95.22\n2016-05-15\t90.0\t91.67\t90.0\t90.52\n2016-05-08\t93.37\t93.45\t91.85\t92.72\n2016-05-01\t93.99\t94.72\t92.51\t93.74\n2016-04-24\t105.01\t106.48\t104.62\t105.68\n2016-04-17\t112.11\t112.3\t109.73\t109.85\n2016-04-10\t108.91\t109.77\t108.17\t108.66\n2016-04-03\t108.78\t110.0\t108.2\t109.99\n2016-03-27\t105.47\t106.25\t104.89\t105.67\n2016-03-20\t106.34\t106.5\t105.19\t105.92\n2016-03-13\t102.24\t102.28\t101.5\t102.26\n2016-03-06\t102.37\t103.75\t101.37\t103.01\n2016-02-28\t97.2\t98.0237\t96.58\t96.91\n2016-02-21\t96.0\t96.7599\t95.8\t96.04\n2016-02-14\t94.19\t94.5\t93.01\t93.99\n2016-02-07\t96.52\t96.92\t93.69\t94.02\n2016-01-31\t94.79\t97.34\t94.35\t97.34\n2016-01-24\t98.63\t101.46\t98.37\t101.42\n2016-01-17\t96.2\t97.71\t95.36\t97.13\n2016-01-10\t98.55\t99.11\t96.76\t96.96\n'

In [20]:
df.columns=['date']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 1 elements

In [21]:
df

        data1   data2     data3    data4    data
0  2017-08-27  160.43  160.7400  158.550  159.27
1  2017-08-20  157.86  159.5000  156.720  157.50
2  2017-08-13  156.60  158.5728  156.070  157.48
3  2017-08-06  156.07  157.4000  155.690  156.39
4  2017-07-30  149.89  150.2300  149.190  149.50
5  2017-07-23  149.99  150.4400  148.880  150.27
6  2017-07-16  147.97  149.3300  147.330  149.04
7  2017-07-09  142.90  144.7500  142.900  144.18
8  2017-07-02  144.45  144.9600  143.780  144.02
9  2017-06-25  145.13  147.1600  145.110  146.35
10 2017-06-18  143.78  144.5000  142.200  142.27
11 2017-06-11  155.19  155.1900  146.020  148.98
12 2017-06-04  153.58  155.4500  152.890  155.45
13 2017-05-28  154.00  154.2400  153.310  153.61
14 2017-05-21  153.38  153.9800  152.630  152.96
15 2017-05-14  154.70  156.4200  154.670  156.10
16 2017-05-07  146.76  148.9800  146.760  148.96
17 2017-04-30  144.09  144.3000  143.270  143.65
18 2017-04-23  142.44  142.6800  141.850  142.27
19 2017-04-16  141.91  142.3800  141.050  141.05
20 2017-04-09  143.73  144.1800  143.270  143.34
21 2017-04-02  143.72  144.2700  143.010  143.66
22 2017-03-26  141.50  141.7400  140.350  140.64
23 2017-03-19  141.00  141.0000  139.890  139.99
24 2017-03-12  139.25  139.3571  138.640  139.14
25 2017-03-05  138.78  139.8300  138.590  139.78
26 2017-02-26  135.91  136.6600  135.280  136.66
27 2017-02-19  135.10  135.8300  135.100  135.72
28 2017-02-12  132.46  132.9400  132.050  132.12
29 2017-02-05  128.31  129.1900  128.160  129.08
..        ...     ...       ...      ...     ...
56 2016-07-31  104.19  104.5500  103.680  104.21
57 2016-07-24   99.26   99.3000   98.310   98.66
58 2016-07-17   98.92   99.3000   98.500   98.78
59 2016-07-10   96.49   96.8900   96.050   96.68
60 2016-07-03   95.49   96.4650   95.330   95.89
61 2016-06-26   92.91   94.6550   92.650   93.40
62 2016-06-19   96.62   96.6500   95.300   95.33
63 2016-06-12   98.53   99.3457   98.480   98.83
64 2016-06-05   97.79   98.2700   97.450   97.92
65 2016-05-29   99.44  100.4700   99.245  100.35
66 2016-05-22   94.64   95.4300   94.520   95.22
67 2016-05-15   90.00   91.6700   90.000   90.52
68 2016-05-08   93.37   93.4500   91.850   92.72
69 2016-05-01   93.99   94.7200   92.510   93.74
70 2016-04-24  105.01  106.4800  104.620  105.68
71 2016-04-17  112.11  112.3000  109.730  109.85
72 2016-04-10  108.91  109.7700  108.170  108.66
73 2016-04-03  108.78  110.0000  108.200  109.99
74 2016-03-27  105.47  106.2500  104.890  105.67
75 2016-03-20  106.34  106.5000  105.190  105.92
76 2016-03-13  102.24  102.2800  101.500  102.26
77 2016-03-06  102.37  103.7500  101.370  103.01
78 2016-02-28   97.20   98.0237   96.580   96.91
79 2016-02-21   96.00   96.7599   95.800   96.04
80 2016-02-14   94.19   94.5000   93.010   93.99
81 2016-02-07   96.52   96.9200   93.690   94.02
82 2016-01-31   94.79   97.3400   94.350   97.34
83 2016-01-24   98.63  101.4600   98.370  101.42
84 2016-01-17   96.20   97.7100   95.360   97.13
85 2016-01-10   98.55   99.1100   96.760   96.96

[86 rows x 5 columns]